<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 mb-5">
            <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">
                <span class="text-white">CodeKids</span>
            </a>
            <p>
                Chương trình đào tạo lập trình viên chuyên nghiệp dành cho trẻ. Được xây dựng theo mô hình tiến tiến của Mỹ. Các em sẽ có một lộ trình học rõ ràng từ tiểu học cho tới đại học. Với sự giúp đỡ của cộng đồng Agile Đà Nẵng các em sẽ được học những ngôn ngữ, những công nghệ và kỹ năng làm việc của một lập trình viên
            </p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="https://www.facebook.com/codekids.asia"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Liên Hệ</h3>
            <div class="d-flex">
                <h4 class="fa fa-map-marker-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Địa Chỉ  </h5>
                    <p> Tầng 11, số 295 Nguyễn Tất Thành, Quận Hải Châu, TP Đà Nẵng  </p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-envelope text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Email</h5>
                    <p>codekids.asia@gmail.com</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-phone-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Phone</h5>
                    <p>0385098845</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Links</h3>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="https://codekids.asia"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white mb-2" href="https://codekids.asia/chuongtrinhk5"><i class="fa fa-angle-right mr-2"></i>K5</a>
                <a class="text-white mb-2" href="https://codekids.asia/chuongtrinhk12"><i class="fa fa-angle-right mr-2"></i>K12</a>
                <a class="text-white mb-2" href="https://codekids.asia/chuongtrinhk15"><i class="fa fa-angle-right mr-2"></i>K15</a>
                <a class="text-white mb-2" href="https://codekids.asia/blog"><i class="fa fa-angle-right mr-2"></i>Tin tức</a>
                <a class="text-white" href="https://codekids.asia/whyus"><i class="fa fa-angle-right mr-2"></i>Tại sao chọn CodeKids</a>
                <a class="text-white" href="https://codekids.asia/contact"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a>
            </div>
        </div>

    </div>
    <div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);;">
        <p class="m-0 text-center text-white">
            &copy; All Rights Reserved Designed By CodeKids @2021

        </p>
    </div>
</div>